<div class="container">
  <h1>{{ person.car_no }}</h1>
  <div class="row">
      <div class="col-md-12">
        <a [routerLink]="['/person-edit', person._id]" class="btn btn-success">EDIT</a>
        <button class="btn btn-danger" type="button" (click)="deletePerson(person._id)">DELETE</button>
      </div>
    </div>
  <dl class="list">
    <dt>Car Reg.no</dt>
    <dd>{{ person.car_no }}</dd>
    <dt>Owner Name/dt>
    <dd>{{ person.owner_name }}</dd>
    <dt>Purchase Date</dt>
    <dd>{{ person.purchase_date }}</dd>
    <dt>Description</dt>
    <dd>{{ person.description }}</dd>
    <dt>Last Service</dt>
    <dd>{{ person.last_service }}</dd>
    <dt>Car Owner email</dt>
    <dd>{{ person.owner_email }}</dd>
    <dt>Update Date</dt>
    <dd>{{ person.updated_at }}</dd>
  </dl>
</div>