<div class="container">
  <h1>
  <a [routerLink]="['/persons']">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </a>
  {{ person.car_no }}</h1>
  <br/>
  <dl class="list">
    <dt>Car Reg.no</dt>
    <dd>{{ person.car_no }}</dd>
    <dt>Owner Name</dt>
    <dd>{{ person.owner_name }}</dd>
    <dt>Purchase Date</dt>
    <dd>{{ person.purchase_date | date: "MM-dd-yyyy"}}</dd>
    <dt>Description</dt>
    <dd>{{ person.description }}</dd>
    <dt>Last Service</dt>
    <dd>{{ person.last_service | date: "MM-dd-yyyy"}}</dd>
    <dt>Car Owner email</dt>
    <dd>{{ person.owner_email }}</dd>
    <dt>Update Date</dt>
    <dd>{{ person.updated_at | date: "MM-dd-yyyy"}}</dd>
  </dl>
  <br/>
  <div class="row">
      <div class="col-md-12">
        <a [routerLink]="['/person-edit', person._id]" class="btn btn-success">EDIT</a>&nbsp;
        <button class="btn btn-danger" type="button" (click)="deleteperson(person._id)">DELETE</button>
      </div>
    </div>
</div>