<script>
  function validate() {
    // body...
    var purchase_date = document.getElementByName("purchase_date").value
    var purchase_iso_date = new Date(purchase_date).toISOString()
    document.getElementByName("purchase_date").value = purchase_iso_date

    var last_service = document.getElementByName("last_service").value
    var last_service_iso_date = new Date(last_service).toISOString()
    document.getElementByName("last_service").value = last_service_iso_date

  }
</script>

<div class="container">
  <h1>Add New Vehicle</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveperson()" #personForm="ngForm">
        <div class="form-group">
          <label for="name">Car Reg.no</label>
          <input type="text" class="form-control" [(ngModel)]="person.car_no" name="car_no" required>
        </div>
        <div class="form-group">
          <label for="name">Owner Name</label>
          <input type="text" class="form-control" [(ngModel)]="person.owner_name" name="owner_name" required>
        </div>
        <div class="form-group">
          <label for="name">Purchase Date</label>
          <input type="date" class="form-control" [(ngModel)]="person.purchase_date" name="purchase_date">
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <input type="text" class="form-control" [(ngModel)]="person.description" name="description" required>
        </div>
        <div class="form-group">
          <label for="name">Last Service</label>
          <input type="date" class="form-control" [(ngModel)]="person.last_service" name="last_service" required>
        </div>
        <div class="form-group">
          <label for="name">Car Owner email</label>
          <input type="text" class="form-control" [(ngModel)]="person.owner_email" name="owner_email" required>
        </div>
        <div class="form-group">
          <button type="submit" onClick="validate()" class="btn btn-success" [disabled]="!personForm.form.valid">Save</button>&nbsp;
          <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>